
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1),
  0 1px 1px 0 rgba(0, 0, 0, 1),
  0 1px 3px 0 rgba(0, 0, 0, 1);
}

.mat-form-field {
  margin: 10px
}


.button {
  margin: 5px;
}

.lottie-gif {
  width: 120px;
}

.container-login{
  width: 300px;
}

.page{
  background: rebeccapurple;
  background-size: cover;
  min-height: 100vh;
}

p {
  font-size: x-large;
  margin-bottom: 30px;
  color: white;
}

.mat-icon {
  filter: brightness(0) invert(1);
  margin-top: 5px;
}

.powered-title {
  font-size: medium;
}