<app-navbar></app-navbar>
<div *ngIf="role === 'client'" fxLayout="column" fxLayoutAlign="center center">

</div>

<div *ngIf="role === 'trainer'"  class="container" fxLayout="row">
    <div class="container1" fxLayout="column" fxLayoutAlign="">
        <div class="container3" fxLayoutAlign="center center">
            <h1>user info</h1>
        </div>
        <div class="container4" fxLayoutAlign="center center">
            <h1>lista de entrenos</h1>
        </div>
    </div>
    <div class="container2" fxLayoutAlign="center center">
        <h1>lista de user</h1>
    </div>
</div>

